<button class="btn btn-primary" (click)="showTab = !showTab">Toggle tab 3</button>

<app-bs-tab-group>
	<app-tab-panel title="Tab 1">
		<ng-template tabPanelContent>
			content tab 1
			<app-counter></app-counter>
		</ng-template>
	</app-tab-panel>

	<app-tab-panel title="Tab 2">
		<ng-template tabPanelContent>
			content tab 2
			<app-counter></app-counter>
		</ng-template>
	</app-tab-panel>
	<app-tab-panel title="Tab 3" *ngIf="showTab">
		<ng-template tabPanelContent>
			content tab 3
			<app-counter></app-counter>
		</ng-template>
	</app-tab-panel>
</app-bs-tab-group>

<app-counter></app-counter>