<div class="card mx-4">
  <div class="card-header">
    You have selected
    <ng-container [ngTemplateOutlet]="counterTmpl"></ng-container>.
  </div>
  <div class="card-body">
    There are <ng-container [ngTemplateOutlet]="counterTmpl"></ng-container> was
    selected.
  </div>
  <div class="card-footer">
    You have selected
    <ng-container [ngTemplateOutlet]="counterTmpl"></ng-container>.
  </div>
</div>
<ng-template #counterTmpl>
  <span class="badge badge-primary">{{ counter }}</span> items
</ng-template>

<tab-container [navs]="navs"></tab-container>

<ng-template #headerTemplate let-l>
  <label class="btn btn-button">{{l}}</label>
</ng-template>
<tab-container [navs]="navs" [headerTemplate]="headerTemplate"></tab-container>

<app-bs-tab-group>
	<app-tab-panel title="Tab 1">
			content tab 1
	</app-tab-panel>
	<app-tab-panel title="Tab 2">
			content tab 2
	</app-tab-panel>
	<app-tab-panel title="Tab 3">
			content tab 3
	</app-tab-panel>
</app-bs-tab-group>